<html>
<nav>
  <mat-toolbar class="mat-elevation-z8">
  <div class="welcome">Welcome!</div>
      <button class="new-book" mat-button [routerLinkActive]="'active'"  routerLink="/overview" style="color: white">Überblick</button>
      <button class="new-book1" mat-button [routerLinkActive]="'active'"  routerLink="/task-template" style="color: white">Aufgaben Template</button>
      <button class="new-book2" mat-button [routerLinkActive]="'active'"  routerLink="/customer-order" style="color: white">Kunden</button>
    

</mat-toolbar>
</nav>
</html>
