.header{
  height: 7%;
  color: white;
}
.createSpace{
  height: 10%;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 7%;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 28px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #4e5c73;
}
.body{
  margin: 30px 30px;
  max-height: 68%;
  background-color: #f0efeb;
  overflow: auto;
}
.widget-container{
  padding: 30px 30px;
}
