
/*
here we define everything related to the menu scrollbar
 */
:host {
  display: flex;
  flex-direction: column;
  height: 100%;

}

/*
Here we customize the mat-drawer, mat-drawer-container, and the mat-drawer-content.
 */

mat-drawer {
  width: 250px;
}

mat-drawer-container {
  height: 100%;
  width: auto;
  background-color: white;
}


#scroll{
  direction:rtl;
  overflow:auto;
  height:50px;
  width:50px;
}

#scroll div{
  direction:ltr;
}

.container {
  width: 100%;
  height: 100vh;
}

.toppane {
  width: 100%;
  height: 50px;
}

.leftpane {
  width: 18%;
  height: 100vh;
  margin-top: 1.5%;

}

body {
  margin: 0!important;
}

.d-flex {
  display: flex;
}
